* {
  box-sizing: border-box;
}
ul {
  list-style: none;
  padding:0;
  margin-bottom: 0;
  margin-top: 0;
}
body {
  font-family: 'Roboto', sans-serif;
  background-image: url(../img/background-brick-bricks-220182.jpg);
  background-size: cover;
  margin: 0;
}
a {
text-decoration: none;
}
header {
  background-color: rgba(247, 220, 111);
}
ul li {
  text-align: center;
}
ul a {
  display: inline-block;
}

.perfiles {
  background-color: rgba(247, 220, 111);
}
.h1-label {
  background-image: url(../img/construction-grinder-man-1216544.jpg);
  background-size: cover;
  height: 40vh;

}
.cuerpo {
  background-color: rgb(247, 220, 111);
}
h1 {
    padding: 50px;
    text-align: center ;
    margin-top: 0;
    color: white;
    margin-bottom: 0;
    font-size: 20px;

}
h2{
  text-align: center;
  text-decoration: underline;
  background-color: rgba(215, 219, 221,0.5);
}
label {

    width:100%;
    background-color: rgba(0,0,0,0.5);
    padding: 6px;
    display: block;
    text-align: center;
}

article.art-perfiles {
    margin-top: 16px;
}
img {
    border-radius: 15px;
    width: 78%;
}
.logo {
  width:50%;
  border-radius: 0;
}
.perfiles {
  text-align: center;

}

ul li a:not(.a-logo) {
  color: White;
  background-color: black;
  width: 100%;
  margin-bottom: 2px;
}
input#buscador {
    width: 80%;
    background-color: rgba(0,0,0,0.5);
    color: white;
    border-color: rgba(0,0,0,0.5);
    padding: 4px;
    border-width: inherit;
    border-radius: 8px;
    text-align: center;
    font-size: 12px;
}
input#buscador:hover {
  background-color: rgba(241, 196, 15 , 0.5);
  color: black;
}
.publi {
  display:none;
}
@media (min-width: 768px) {
  .container {
    max-width: 90%;
    margin: 0 auto;
  }
  nav ul {
    overflow: hidden;
  }
  nav ul li {
    float: right;
  }
  header {
    height: 70px;
  }
  .logo {
    width:100%;
  }
  li.li-logo {
    float:left;
    width: 30%;
  }
  h1 {
    padding: 96px;
    margin-bottom: 0;
    font-size: 44px;
  }
  .h1-label {
    height: 71vh;
  }
  ul li a:not(.a-logo) {
    background-color: rgba(247, 220, 111);
    color: black;

  }
  ul li:not(.li-logo) {
    margin-right: 3%;
    font-size: 20px;

}
article.art-perfiles {
    margin-top: 16px;
    width: 46%;
    float: left;
}
.perfiles {
  background-color: rgba(247, 220, 111);
  overflow: hidden;
}
@media (min-width:1024px) {
  .container {
    max-width: 90%;
    margin: 0 auto;
}
header {
  height: 100px;
}
h1 {
  font-size: 60px;
  padding: 120px;
}
.publi {
    display: block;
    width: 100%;
    overflow: hidden;
    background-color: rgba(215, 219, 221,0.5);
}
.a-publi {
  float: left;
  width: 22.5%;
  margin-left: 2%;
  margin-top: 30px;

}
ul li a:not(.a-logo) {
    font-size: 25px;

}
input#buscador {

    padding: 14px;
    border-radius: 10px;
    font-size: 30px;
    text-align: center;
}
