* {
  box-sizing: border-box;
}
ul {
  list-style: none;
  padding:0;
  margin-bottom: 0;
  margin-top: 0;
}
body {
  font-family: 'Roboto', sans-serif;
  background-image: url(/img_app/Textura_fondo_2.jpg);
  background-size: cover;
  margin: 0;
}
a {
text-decoration: none;
color: black;
}
.flex{
  display: flex;
}
.flexStart{
  align-items:flex-start;
}
.flexEnd{
  align-items: flex-end;
}
.column{
  flex-direction: column;
}
.overflowNo{
  overflow: hidden;
}
.align_center{
  align-items: center;
}
.w90{
  width:90%;
}
.h5{
  height:5vh;
}
.h10{
  height:10vh;
}
.h15{
  height: 15vh;
}
.center{
  margin:auto;
}
.opacity50{
  opacity: 0.5;
}
.italic {
 font-style: italic;
}

.t50{
  background-color: rgba(255,255,255,0.5);
}
.t90{
  background-color: rgba(255,255,255,0.9);
}
.blanco{
  background-color: rgb(255,255,255);
}
.icono{
  height:50%;
  max-height: 25px;
  /*margin:auto;*/
}

.iconoPegado{
  height:50%;
  max-height: 20px;
  margin-left: 3px;
}

.hoverAmarillo:hover{
  background-color: rgba(247, 220, 111);
}
.texto_gris{
  color:rgb(111,111,111);
}
label.pointer{
  cursor: pointer;
}
#subir_foto{
  opacity: 0;
  z-index: -1;
  position:absolute;
}
.px12{
    font-size: 12px;
    min-height: 3vh;
    max-height: 4vh;
}
.px14{
  font-size: 14px;
}
.px16{
  font-size: 16px;
}
.px20{
  font-size: 20px;
}
.bold{
  font-weight: bold;
}
.boldHover:hover{
  font-weight: bold;
}
.manoHover:hover{
  cursor:pointer;
}
.oculto{
display: none;
}

.line_h_14{
  line-height: 14px;
}
.margin0{
  margin: 0;
}
.marginauto{
  margin: auto;
}
.margin1{
  margin:1vh;
}
.marginTop1{
  margin-top: 1vh;
}
.margin2vh{
  margin-top: 2vh;
  margin-right: 2vh;
  margin-left: 2vh;
}
.margin3vh{
  margin-top: 3vh;
  margin-bottom: 3vh;
}
.padding1{
  padding: 1vh;
}
.bordeAbajo{
  border-bottom: 2px solid black;
}
.bordeLateral{
  border-left: 2px solid black;
}
.bordeNegro{
  border: 1px solid black;
}
.textarea{
  height: 10vh;
}
.max_min_200px{
  max-height: 200px;
  max-width: 200px;
}
.container{
  width:100%;
  display: flex;
}
.banner_rubro{
  width: 100%;
  background-color: gray;
  height: 30vh;
  /*overflow: hidden;*/
}
.a100 {
  width:100%;
}

.lateral_izq{
  width:25%;
  min-height: 600px;
}
.lateral_der{
  width:25%;
}
.cuerpo_central{
  width: 50%;
}
.foto_nombre{
  width:40%;
}
.rubro_zona{
  width:60%;
}
.pic_perfil{
  width: 170px;
  height: 170px;
  margin-top: 15px;
}
.fotos_perf{
min-width: 25vh;
min-height: 25vh;
max-width: 40vh;
max-height: 40vh;
align:center;
}
.estrellitas{

}
.sin_avatar{
  height:25vh;
  width:25vh;
}
.cambiar_foto{
  flex-shrink: 0.5;
}
/*Estilos Para muro en mobile */

div.containerMuro {

width: 80%;
margin: 0 auto;
height: 71vh;
display: flex;
flex-flow: column;
justify-content: space-evenly;
border-radius: 9px;
background-color: rgba(255, 255, 255, 0.5);
padding: 10px;


}

form.formPosteoMuro{

display: flex;
flex-flow: column;
width: 70%;
margin: 0 auto;
padding: 10px;
}

div.botonesMuroPosteo{

  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;

}

button.botonMuro{

 padding: 7px;
 font-size: 12px;
 border-radius: 7px;

}

label.labelMuro{

font-size: 19px;
margin-bottom: 8px;
margin-top: 4px;

}

/*fin nuevos*/

.error {
  border: 1px solid red;
}

.p-error{
  color: red;
  font-size: 12px;
}
/*para icono de logueado*/
.far {

   color: rgba(247, 220, 111);
}
/*paso lo de styles.css */
header.header-home {
  background-color: rgba(247, 220, 111);
}
.h1-label {
  background-image: url(/img_app/construction-grinder-man-1216544.jpg);
  background-size: cover;
  height: 68vh;
  display: flex;
  flex-flow: wrap column;
  justify-content: space-evenly;
  align-items: center;
  background-position-x: 70%;
}

h2.tit-perf{
  text-align: center;
  text-decoration: underline;
  background-color: rgba(215, 219, 221,0.5);
}

label.label-home {
    width: 100%;
    margin: 0;
}
form.buscadorHome{

  width:80%;

}
article.art-perfiles {
        width: 90%;
}

input#buscador {
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    color: white;
    border-width: inherit;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
}
input#buscador:hover {
  background-color: rgba(241, 196, 15 , 0.5);
  color: black;
}
input#buscador::placeholder{
  color:white;
}
h1.h1-home {

    text-align: center;
    margin-top: 0;
    color: white;
    margin-bottom: 0;
    font-size: 28px;
}

.publi-home {
  display:none;
}


.container_reg_doble{
  position: relative;

}
.container_formularios_gral{
  position:relative;
  width: 100%;
}
.container_formularios_prof{
  position: relative;
}
.container_home{
  position: relative;
}
.seccion_perfil{
  position: relative;
  min-height: 100vh;
  display: flex;
  width: 90%;
  max-width: 1000px;
  margin: auto;
  z-index: 0;
}
.back_bl{
    background-color: rgba(255,255,255,0.6);
}

.usuario_basico{
  width: 100%;
  height: 70vh;
  background-color: red;
  z-index: 1;
}
.nombre_foto{
  background-color: white;
  width: 65%;
  margin: auto;
  margin-top: 3vh;
  padding-top: 2vh;
  z-index: 3;
}
.foto_perfil{
  width: 90%;
  display: block;
  margin: auto;
}

.txt_centrado{
text-align: center;
}
.rubro_portada{
  background-color: blue;
  width:100%;
  height:55%;
  position: relative;
  top: -15vh;
  z-index: -1;
}
.rubro_seleccionar{
  position: relative;
  bottom:-28vh;
  right:-7vh;
}

.barra_principal{
  display:flex;
  flex-direction:column;
  height:14vh;
  background-color: rgba(247, 220, 111);
}
.barra_ppal_1{
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  position:relative;
  top:5vh;
  height:9vh;
  background-color: rgba(247, 220, 111);
  /*border-bottom:3px solid rgba(0,0,0,0.5);*/
}
/*clases de la barra ppal*/
.menu_contextual{
  width: 20%;
  border-right: 3px solid rgba(0,0,0,0.5);
}
.hamburger{
  display: block;
  margin: auto;
  opacity: 0.6;
  margin-top: 2.5vh;
  margin-bottom: 2.5vh;
  height: 4vh;
}
.logo_nombre{
  width: 60%;
}
.logo_tipo{
  display: block;
  margin: auto;
  margin-top: 1vh;
  margin-bottom: 1vh;
  height: 7vh;
}
.busqueda{
  width: 20%;
  /*border-left: 3px solid rgba(0,0,0,0.5);*/
}
.boton{
  color: black;
  font-size: 16px;
  border-radius: 5px;
  width:40%;
  margin:1em;
}
.enviar:hover{
background-color: rgba(247, 220, 111);
}
.input-form{
  color: black;
  font-size: 12px;
  padding: 5px 5px;
  border-radius: 5px;
}
.select{
  padding:5px;
}
.lupa{
  display: block;
  margin: auto;
  margin-top: 2.5vh;
  margin-top: 2.5vh;
  height: 4vh;
  opacity: 0.6;
}
.botones_cambiar{
  display: block;
  height: 9vh;
}
.barra_ppal_2{
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  background-image: url(/img_app/Textura_fondo_2_osc.jpg);
  background-size: 100vw;
  position:fixed;
  height:5vh;


  /*background-color: rgb(166, 166, 166);*/
}
/* agrego checkbox */

.control{
  font-family: "Roboto";
  position: relative;
  padding-left: 35px;
  margin-bottom: 3px;
  padding-top: 5px;
  cursor: pointer;
  font-size: 15px;
}

.menu_registro{
  text-align: center;
  margin:1.5vh;
}
.botones_registro{
  display: block;
  font-size: 2vh;
  margin: 0 auto;
  color: rgba(255,255,255,0.8);
}
ul li a {
  color:rgba(0,0,0,0.5);
}
/*Ac치 empieza el banner*/
.banner_perfiles {
display: flex;
flex-flow: column;
width: 100%;
background-image:url(/img_app/Banner_pintura_pared.jpg);
background-size: cover;
background-position-y:15%;
height: 50vh;
}
.crea_perfil {
  font-size: 9vh;
  color:rgba(0,0,0,0.6);
  margin: auto;
  width:85%;
  display: inline-block;
  text-align: center;
  /*background-color:rgba(0,0,0,0.1)*/
}
.perfil_registrate {
  font-size: 2vw;
  color:rgba(0,0,0,0.6);
  margin: auto;
  width:50%;
  text-align: center;
  display: inline-block;

  /*background-color:rgba(0,0,0,0.1)*/
}

.fondo_banner {
object-fit: contain;
}
/*cuerpo_tablet*/
.cuerpo_tablet{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width:98%;
  margin: auto;
}
.publicidad_vertical{
  width:15%;
  background-color: grey;
  margin-top: 6vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.publicid{
  width:100%;
}
/*secci칩n ppal elegir perfiles*/
.elegir_perfil{
display: flex;
width:90vw;
margin: auto;
margin-top: 6vh;
justify-content: space-between;
}
.logo_perfil{
  display:block;
  width:60%;
  margin-top:7%;
}
.elegir_perfil_cliente{
  width: 45%;
  background-color:rgba(255, 255, 255, 0.1);
  height: 50vh;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

}
.elegir_perfil_profesional{
  width: 45%;
  background-color:rgba(255, 255, 255, 0.1);
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.descrip{
  font-size: 2.5vh;
  text-align: center;
  margin:0;
  padding: 3vh;
}
.registrarme{
  font-size: 2.4vh;
  text-align: center;
  margin:0;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 2vh;
  padding:0.5vh;

}
.reg_prof{
  background-color: rgb(61,177,156);
}
.reg_const{
  background-color: rgb(60,185,229);
}

/*footer*/
footer{
  width:100%;
}
.footer_margin{
  margin-top: 5vh;
}
.footer_alto{
  display:flex;
  flex-direction: row;
  width: 100%;
  height: 10vh;
  justify-content: space-around;
  padding: 4vh;
  background-color: rgba(0,0,0,0.3);
}
.footer_chico{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  margin:0;
  bottom:0;
  background-color: rgba(0,0,0,0.7);
  width:100%;
  height: 5vh;
  background-color: rgba(0,0,0,0.5);

}
.footer_sec_corta{
  margin-top: 15vh;
}
.links_footer{
  font-size: 2vh;
  color: rgba(255,255,255,0.9);
  line-height: 5vh;
}
.links_footer_tablet{
  font-size: 2vh;
  line-height: 5vh;
  color: rgba(255,255,255,0.9);
}
/*css de registraci칩n*/
.formularios{
  width:90%;
  margin:auto;
  display:flex;
  flex-direction: column;
}
.registracion{
  display:flex;
  flex-direction: column;
  width:100%;
  padding:2%;
  margin: auto;
}
.Registro{
  display:flex;
  flex-direction: column;
  width:100%;
  max-width: 500px;
  padding:2%;
  margin: auto;
  background-color: rgba(255,255,255,0.5);
  margin-top: 2vh;
}
.Registro_cliente{
  display:flex;
  flex-direction: column;
  width:90%;
  padding:2%;
  margin: auto;
  max-width: 500px;
}
.registracion_cliente{
  display:flex;
  flex-direction: column;
  width:100%;
  padding:2%;
  margin: auto;
  max-width: 500px;
  background-color: rgba(255, 255, 255, 0.5);

}
.registro_general{
  display:flex;
  flex-direction: column;
  width:100%;
  padding:2%;
  margin: auto;
  max-width: 500px;
  background-color: rgba(255, 255, 255, 0.5);
}
}
.registracion_cliente{
  width:100%;
  display:flex;
  flex-direction: column;
  padding:2%;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.5);
}
.registr-prof{
  text-align: center;
  opacity: 0.8;
  font-weight:normal;
border-style: solid;
border-width: 1px;
border-radius: 3px;
border-color: gray;
padding:0.5em;
}
.seleccion_rub_zon{
  margin:1vw;
  margin-top: 2vh;
}
.borde_redondeado{
  border-radius: 5px;
}
label{
  margin-left: 1vh;
  margin-top:1vh;
  opacity: 0.9;
}
.enviar_cancelar{
  margin: auto;
  margin-top: 2vh;
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.login{
  width:100%;
  display:flex;
  flex-direction: column;
  padding:2%;
  margin: auto;
  margin-top: 2vh;
}

/*Cambios en Perfiles.Seba */
.perfiles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 94%;
    margin: 0 auto;
}
.datos-rubro-boton a {
    background-color: #E74C3C;
    text-align: center;
    width: 70%;
    padding: 2px;
    color: white;
    border: grey groove;
    border-radius: 7px;
    align-self: flex-end;
}
.foto-nombre img.cara-perf {
    width: 70%;
    border-radius: 70%;
}
.foto-nombre img {
    width: 80%;
}
.foto-nombre {
    display: flex;
    flex-flow: wrap column;
    align-items: center;
    justify-content: space-between;
}
article.art-perfiles {
    display: flex;
    flex-flow: row;
    background-color: rgba(247, 249, 249,0.5);
    margin-bottom: 20px;
    padding: 4px;
}

p.perf-zona {
    display: inline-block;
    margin: 0;
    width: 36%;
    margin-top: 11px;
}
h2.rubro-perf {
    display: inline-block;
    margin: 0;
    width: 60%;
    margin-top: 6px;
}
.datos-rubro-boton {
    display: flex;
    flex-flow: wrap column;
    align-items: self-start;
    width: 80%;
    justify-content: space-between;
}
p.perf-descript {
    font-size: 12px;
}
/* agrego el p tipo subt.Seba */
p.subtit {
    text-align: center;
    font-size: 20px;
}
/*Banner decker.Seba*/
img.banner-decker {
    width: 80%;
}
/*Mensajes error formulario*/
.mensaje_error{
  background-color:#BA2D0B;
  opacity: 0.7;
}

.mensaje_error_par{
  color: #BA2D0B;
  margin: 0.5vh;
  font-size: 2.5vh;
}
div.avatar{
  height: 150px;
  width: 150px;
  background-color: red;
  margin-top: 2vh;
}
img.avatar{
  height: 150px;
  width: 150px;
}

.datos_basicos{
  width:100%;
}
.col_centrado{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.col_izq{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
img.puntaje{
  width:35%;
}
.letra_chica{
  font-size: 12px;
  line-height: 14px;
  margin: 0;
}
.borde_negro{
  border: 4px;
  border-color: black;
}

@media (max-width:700px) {
  .container_reg_doble{
  height:100vh;
  }
}

@media (max-width:767px)
   {

.container_login{
  height:100vh;
}
.container_reg_doble{
height:71vh;
}

.links_footer_tablet{
  display: none;
  }
.banner_perfiles{
  display:none;
  }
.publicidad_vertical{
  display:none;
}
.container{
  height: 120vh;
}
.footer_login{
position: absolute;
bottom: 0px;
}

}
@media (min-width: 768px) /*tablet*/
  {
    .barra_ppal_2{
      justify-content: flex-end;
    }
    .logo_tipo{
      display: block;
      margin: auto;
      height: 8vh;
    }
    .logo_nombre{
      width: 15%;}

  .menu_contextual
  {display:none;
  }
  .busqueda {
    display:none;
  }
  .elegir_perfil{
    width:55%;
  }
  .elegir_perfil_cliente{
    width:45%
  }
  .elegir_perfil_profesional{
    width:45%;
  }
  .descrip{
    font-size: 2.5vh;
    padding: 1vh;
  }
  /*css de registraci칩n*/
  .formularios{
    width:90%;
    max-width: 1000px;
    flex-direction:row;
  }
  .registracion{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .registro_general{
    width: 45%;
  }
  .Registro{
    width:45%;
    margin-top: 0px;
  }

  .seleccion_rub_zon{
    margin:1vw;
    margin-top: 2vh;
  }
 .enviar_cancelar{
   justify-content: center;
 }

/* Perfiles en tablet*/
.datos-rubro-boton a {
    width: 36%;
}
p.perf-descript {
    font-size: 13px;
    display: inline-block;
    width: 96%;
}
.foto-nombre img.cara-perf {
    width: 90%;
}
.foto-nombre img {
    width: 100%;
}
input#buscador {
  font-size: 20px;
}
/*sigo pasando css*/

h1.h1-home {
  padding: 96px;
font-size: 44px;
}
.h1-label {
height: 80vh;
}
article.art-perfiles {
  width: 48%;
  display: flex;
  flex-flow: wrap row;

}
div.foto-nombre {
  width: 30%;
}
div.datos-rubro-boton {
  width: 70%;
}


}
@media (min-width:1024px) /*desktop*/{
/* Perfiles en Desktop */
p.perf-descript {
    font-size: 18px;
}
.datos-rubro-boton a {
    width: 25%;
}
/*terminando de pasar css*/

h1.h1-home {
  font-size: 60px;
  padding: 120px;
}
.publi-home {
    display: block;
    width: 100%;
    overflow: hidden;
    background-color: rgba(215, 219, 221,0.5);
    text-align: center;
}
input#buscador {

    padding: 8px;
    border-radius: 10px;
    font-size: 30px;
    text-align: center;
}



div.containerMuro {
    width: 40%;
    max-width: 500px;
    padding: 2%;

}

}
